body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background: white;
    width: 400px;
    padding: 15px;
    margin: auto;
}

input, -textarea, select, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}
